/* PAGE */
.cart-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 16px;
}

.cart-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 24px;
}

/* LAYOUT */
.cart-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

/* CART LIST */
.cart-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #fff;
  padding: 16px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.cart-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
}

.cart-info {
  flex: 1;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.price {
  color: #374151;
  font-weight: 500;
}

/* QUANTITY */
.qty-control {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.qty-control button {
  width: 32px;
    height: 32px;
    /* border-radius: 27px; */
    border: none;
    background: #dcdcdc;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: anchor-center;
    color: black;
}

.qty-control span {
  font-weight: 600;
}

/* REMOVE */
.remove-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #ef4444;
  cursor: pointer;
}

/* SUMMARY */
.cart-summary {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  height: fit-content;
  position: sticky;
  top: 20px;
}

.cart-summary h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  color: #374151;
}

.summary-row.total {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

/* BUTTON */
.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.checkout-btn:hover {
  background: #1d4ed8;
}

/* EMPTY */
.center {
  text-align: center;
  margin-top: 80px;
}

/* MOBILE */
@media (max-width: 768px) {
  .cart-layout {
    grid-template-columns: 1fr;
  }

  .cart-summary {
    position: static;
  }
}
