.footer {
  background: linear-gradient(135deg, #1b1f2f, #22263a);
  color: #ffffff;
  padding: 60px 40px 20px;
  margin-top: 200px; /* IMPORTANT */
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 40px;
}


/* Section headings */
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

/* Left description */
.footer-desc {
  margin-bottom: 15px;
  font-size: 14px;
  color: #cfd3ff;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
}

.footer-links li:hover {
  text-decoration: underline;
}

/* Contact icons */
.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}

/* Review section */
.review-title {
  text-decoration: underline;
}

.footer-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 15px 0;
  font-size: 14px;
}

.footer-btn {
  width: 100%;
  padding: 12px;
  background: #7b2cbf;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.footer-btn:hover {
  background: #9d4edd;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #b0b3ff;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
