* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #ffffff;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
    border: none;
    background: #4f46e5;
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


html, body, #root {
  height: 100%;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
