.layout {
  display: flex;
  min-height: 90vh;
}

.content {
  flex: 1;
  padding: 20px;
}




.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #4f46e5;
}

.navbar-center a {
  margin: 0 16px;
  font-weight: 500;
  color: #374151;
}

.navbar-center a:hover {
  color: #4f46e5;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.icon-btn {
  font-size: 20px;
}

.login-btn {
  padding: 8px 16px;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-menu button {
  background: transparent;
  color: #ef4444;
}



/* ===== USER DROPDOWN ===== */
.user-dropdown {
  position: relative;
  cursor: pointer;
}

.user-icon {
  font-size: 28px;
  /* color: #fff; */
}

/* Dropdown hidden by default */
.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  width: 220px;
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 1000;
}

/* Show on hover */
.user-dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* User info */
.user-name {
  font-weight: 700;
  font-size: 16px;
  color: #111827;
}

.user-email {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 12px;
}

/* Links & buttons */
.dropdown-link {
  display: block;
  padding: 8px 0;
  font-weight: 600;
  color: #2563eb;
  text-decoration: none;
}

.dropdown-link:hover {
  text-decoration: underline;
}

.logout-btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background: #ef4444;
  /* color: white; */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background: #dc2626;
}

/* Cart spacing */
.cart-icon {
  margin-right: 20px;
  font-size: 22px;
  /* color: #fff; */
}
